# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log

# Virtual env & env files
venv/
.env
.env.*

# Builds / caches / tests
build/
dist/
*.egg-info/
.pytest_cache/
.coverage

# Git/IDE
.git
.gitignore
.vscode/
.idea/
